/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
  
}

p {
  color: #211d1d;
  margin-left: 30px;
  margin-top: 10px;
  font-family:  'Open Sans';
  
}
h1,h2{
  font-family:  'Open Sans';
  
}
.profile-field label{
margin-bottom: 30px;


}


label {
  color: black;
  margin-left: 30px;
  margin-top: -90px;
  font-family:  'Open Sans';
}



#signsubmit1 {
  border-radius: 18px;
  background-color: #059855;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-align: center;
  margin-left: -244px;
  margin-top: 20px;
  width: 195px;
  height: 40;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
#signsubmit1:hover {
  background-color: #1c7a50;
}

#signsubmit2 {
  border-radius: 18px;
  background-color: #059855;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-align: center;
  margin-left: 151px;
  margin-top: 20px;
  width: 195px;
  height: 40;
  transition: background-color 0.3s ease;
  font-weight: bold;

}

#signsubmit2:hover {
  background-color: #1c7a50;
}
.form-container{
 max-height: 400px;
 
} 

.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;  /* Full viewport width */
  /* padding-left: 20px; */
  position: relative; /* Makes the container a reference point for absolute positioning */
}

.top-right-image {
  position: absolute;
  top: -3px;
  right: 0;
  width: 725px; /* Adjust width as per your needs */
  height: 690px; /* Maintain aspect ratio */
}



.login-container h1,h2 {
  color: #059855;
  margin-left: 47px;
  font-size: 40px;
}

.error-message {
  color: red;
  display: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  transition: opacity 0.2s ease;
}

.login-container .error-message.visible {
  display: block;
  margin-left: 30px;
  margin-top: -5px;
  font-size: 12px;
}

.login-container input:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.login-container input:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(60, 197, 133, 0.3);
}

.login-container input {
  border: 0.5px solid #3CC585;
  border-radius: 9px;
  padding: 5px;
  font-size: 13px;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #F7F7F7;
  width: 320px;
  height: 43px;
  transition: box-shadow 0.3s ease-in-out;
}
.login-container select {
  border: 0.5px solid #3CC585;
  border-radius: 9px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  margin-left: 95px;
  margin-bottom: 5px;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px; /* Adjust width as per your requirement */
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup img {
  width: 50px;
  margin-bottom: 10px; /* Reduce margin to improve spacing */
}

.popup p {
  font-size: 16px;
  color: #333;
  margin: 0; /* Remove margin for better vertical alignment */
}

.popup .close-btn {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.popup .close-btn:hover {
  color: #ff0000; /* Optional: Red hover color for close button */
}

/* Links in Login Styles */
#forget {
  color: #059855;
  margin-left: 195px;
  text-decoration: underline;

}

#signup {
  color: #059855;
  margin-left: 91px;
  text-decoration: underline;
}
#signup2 {
  color: #059855;
  margin-left: 33px;
  text-decoration: underline;
}

#login {
  color: #059855;
  margin-left: 47px;
  text-decoration: underline;
  margin-top: 10px;
}

.notification-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px; /* Adjust width as per your requirement */
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification-popup img {
  width: 50px;
  margin-bottom: 10px; /* Reduce margin to improve spacing */
}

.notification-popup p {
  font-size: 16px;
  color: #333;
  margin: 0; /* Remove margin for better vertical alignment */
}

.notification-popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: tr;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.notification-popup .close-btn:hover {
  color: #ff0000; /* Optional: Red hover color for close button */
}


#signsubmit {
  border-radius: 25.5px;
  background-color: #059855;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  margin-left: 115px;
}

.password-container {
  position: relative;
  width: 100%;
  max-width: 400px; 
}
.password-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; 
  box-sizing: border-box; 
}

.password-toggle-icon {
  position: absolute;
  top: 60%;
  right: 66px; 
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color:gray;
}
.password-toggle-iconprofile1 {
  position: absolute;
  top: 57%;
  left:50px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color:gray;
}
.password-toggle-iconprofile2 {
  position: absolute;
  top: 57%;
  left:70px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color:gray;
}
.password-toggle-iconprofile3 {
  position: absolute;
  top: 57%;
  left:90px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color:gray;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2px;
  height: 5px;

  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.13);
}
.logo{
  width: 150px;
  padding-left: 20px; 
}
.Header {
min-height: 100vh;
width: 100%;

/* background-position: center;
background-size: cover; */
position: relative;
}
header{
background-color: #fafaff;
}

.nav-links {
  flex: 1;

  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #059855;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}
.logoutBu {
  padding-right: 70px;
  padding-left:  200px;;
  background: transparent;
  border: none;
  cursor: pointer;
}

.logout {
  width: 30px;  
  height: 30px;
}
.text-box {
width: 90%;
color: #fafaff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;

}
.text-box h1 {
font-size: 62px;
color: #fafaff;
}

.text-box p {
margin: 10px 0 40px;
text-align: center;
font-size: 14px;
color: f1f1ff;
}

.hero-btn {
display: inline-block;
text-decoration: none;
color: f1f1ff;
border: 1px solid #fafaff;
padding: 12px 34px;
font-size: 13px;
background: transparent;
position: relative;
cursor: pointer;
}

.hero-btn:hover {
border: 1px solid  #059855;
background: #059855;
transition: 1s;
}