/* 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    height: 70px;
}

.user-info {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.profile-section {
    display: flex;
    align-items: center; 
    margin-top: 10px; 
}

.profile-icon {
    height: 40px;
    margin-right: 5px; 
    margin-top: 15px;
    width: 40px;
}

.logout-icon {
    height: 25px;
    margin-right: 0px;
}

span {
    font-size: 20px; 
    margin-top: 35px;
}

.header-line {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 0px;
}

h2{
    color: #3CC585;
    margin-top: 20px;
    margin-left: 10px;
    font-size: xx-large;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-top: 20px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 20px;
}

.nav-item {
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    width: 300px; 
    height: 100px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 20px; 
    margin: 10px; 
    background-color: #3cc585ce; 
    margin-top: 50px;
}

.nav-icon {
    height: 60px; 
    width: 60px; 
    margin-right: 10px; 
}

.nav-item span {
    font-size: 1.2em; 
    align-items: center; 
}
 */
