main { 
  margin: 20px;
  padding-bottom: 60px
}

h2.title {
  color: #059855;
  font-size: 32px;
  margin: 20px 0;
}

.map {
  margin: 60px auto;
  height: 400px;
}

hr {
  border: 1px solid #059855;
  margin: 20px 0;
}